/* .details{
    margin: 50px 50px;
}

p,span{
    font-size: 20px;
}

button{
margin: 0 20px;
padding: 10px;
} */

.main {
  margin: 3% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.ekartFeaturedProducts {
  background-color: #28282b;
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
}

.ekartFeaturedProductsHeading {
  width: 320px;
  margin: 10px;
  padding: 20px 30px;
  color: #fff;
}

.ekartFeaturedProductsList {
  display: flex;
}

.title, .call-to-action {
    margin: 10px 0;
  }
  
  .call-to-action {
    background-color: #282828;
    color: #fff;
    width: 100%;
    padding: 10px 0px;
  }
