<div class="main">
  <div class="search">
    <app-search (selectedFilterSearch)="searchFilter($event)"></app-search>
  </div>
  <div class="products">
    <app-product-list [searchText] = 'searchText' #productListComponent></app-product-list>
    @if (productListComponent.selectedProduct) {<app-product-detail [productListCom] = 'productListComponent'></app-product-detail>}
  </div>
  <div class="ekartFeaturedProducts">
    <div class="ekartFeaturedProductsHeading">
      <h1>Hello</h1>
    </div>
    <div class="ekart-featured-product-item">
      <h3 class="title">New Arrivals in Addidas</h3>
      <p class="description">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>
      <button class="call-to-action">Learn More</button>
    </div>
    <div class="ekart-featured-product-item">
      <h3 class="title">New Arrivals in Nike</h3>
      <p class="description">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>
      <button class="call-to-action">Learn More</button>
    </div>
    <div class="ekart-featured-product-item">
      <h3 class="title">New Arrivals in Reebok</h3>
      <p class="description">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>
      <button class="call-to-action">Learn More</button>
    </div>
  </div>
</div>
