<div class="main">
  <div class="search">
    <app-search (selectedFilterSearch)="searchFilter($event)"></app-search>
  </div>
  <div class="products">
    <app-product-list
      [searchText]="searchText"
      #productListComponent
    ></app-product-list>
    @if (productListComponent.selectedProduct) {<app-product-detail
      [productListCom]="productListComponent"
    ></app-product-detail
    >}
  </div>
  <div class="ekartFeaturedProducts">
    <div class="ekartFeaturedProductsHeading">
      <h1>Latest Arrivals in popular brands</h1>
    </div>

    <app-featured-brands>
      <h3 class="title">New Arrivals in Nike</h3>
      <button class="call-to-action">Show arrivals in Nike</button>
    </app-featured-brands>
    <app-featured-brands>
      <h3 class="title">New Arrivals in Adidas</h3>
      <button class="call-to-action">Show arrivals in Adidas</button>
    </app-featured-brands>
    <app-featured-brands>
      <h3 class="title">New Arrivals in Reebok</h3>
      <button class="call-to-action">Show arrivals in Reebok</button>
    </app-featured-brands>

  </div>
</div>
