<app-filter
  [all]="allProducts"
  [inStock]="inStockProducts"
  [outOfStock]="outOfStockProducts"
  (selectedFilterRadioButtonChanged)="filterChange($event)"
></app-filter>
<div class="main">
  <!-- *ngIf="
    selectedFilterRadioButton === 'all' ||
    prod.is_in_inventory.toString() === selectedFilterRadioButton
  " -->
  <div *ngFor="let prod of products" (click) = 'selectedProduct = prod'>
    <app-product
      [product]="prod"
      *ngIf="searchText === '' || prod.name.toLowerCase().includes(searchText)"
    ></app-product>
  </div>
</div>
