<!-- <div class="main">
    <div class="searchSection">
        <input [(ngModel)] = "searchText" />
        <button>Search</button>
    </div>
    <div class="resultSection">
        <span><strong>Search result for: </strong></span><span> {{searchText}} </span>
    </div>
</div> -->

<div class="main">
    <div class="ekart--search--product">
        <input class="ekart-search-product-input" #searchInput />
        <button class="btn btn-search" (click)="updateSearchText()" >Search</button>
    </div>
    <div class="ekart-search-result-for">
        <p *ngIf = 'searchText != "" '><strong>Search result for:</strong> {{searchText}} </p>
    </div>
</div>